@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;900&display=swap');
* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .4s linear;
    text-decoration: none;
    outline: none;
    border: none;
}
:root {
    --body-color: #ecf2f9;
    --header: #f2f2f2;
    --border: .2rem solid #cfe6fc;
    --box-shadow: 0 .4rem 1.5rem #b5cbe3;
    --text-color: #242529;
    --white: #fff;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 8rem;
    scroll-behavior: smooth;
}
html ::-webkit-scrollbar {
    width: .9rem;
}
html ::-webkit-scrollbar-track {
    background: transparent;
}
html ::-webkit-scrollbar-thumb {
    background: var(--text-color);
}
body {
    background: var(--body-color);
}
section {
    padding: 2rem 7%;
}
.home-btn, .btn {
    display: inline-block;
    margin-top: 1rem;
    background: transparent;
    padding: .8rem 3rem;
    color: var(--text-color);
    font-size: 1.5rem;
    border-radius: 2rem;
    border: .2rem solid var(--text-color);
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header);
    box-shadow: var(--box-shadow);
    border-bottom: var(--border);
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo h1 {
    font-size: 4rem;
    font-weight: 800;
    color: var(--text-color);
}
.header .logo img {
   height: 2rem;
   margin-top: 2rem;
}
.header .navbar a {
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 0 1.5rem;
    font-weight: 600;
}
.header .navbar a:hover,
.header .navbar a.active {
    color: rgb(52, 52, 173);
}
.header .icons div {
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 2rem;
}
.header .icons div:hover {
    color: rgb(52, 52, 173);
}
.header .search-form {
    position: absolute;
    top: 115%;
    right: 2rem;
    width: 60rem;
    height: 5rem;
    background: var(--white);
    border: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 2rem;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input {
    width: 100%;
    height: 100%;
    padding: 0 2rem;
    background: none;
    text-transform: none;
    color: var(--text-color);
    font-size: 1.6rem;
}
.header .search-form label {
    padding-right: 1rem;
    color: var(--text-color);
    font-size: 2rem;
}
.header .search-form label:hover {
    color: rgb(52, 52, 173);
}
.cart-wrapper {
    position: fixed;
    background: var(--white);
    top: 0;
    right: -100%;
    width: 35rem;
    min-height: 100vh;
    padding: 2rem 1rem;
}
.cart-wrapper.active{
    right: 0;
}
.cart-wrapper .title {
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
    color: var(--text-color);
    padding-bottom: .5rem;
    border-bottom: .1rem solid #cfe6fcb6;
}
.cart-wrapper .cart-row .cart-box {
    display: grid;
    grid-template-columns: 30% 52% 18%;
    align-items: center;
    gap: 1rem;
}
.cart-row .cart-box img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}
.cart-row .cart-box .cart-details {
    display: grid;
    row-gap: 1rem;
}
.cart-box .cart-details .cart-title {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 700;
}
.cart-box .cart-details .cart-price {
    color: var(--text-color);
    font-size: 1.2rem;
}
.cart-box .cart-details .cart-quantity {
    color: var(--text-color);
    font-size: 1.2rem;
    height: 2rem;
    width: 3rem;
    border: .1rem solid black;
    border-radius: .5rem;
}
.cart-box .cart-details .cart-quantity:focus {
    border: .2rem solid #d27d2d;
}
.cart-row .cart-box .remove-btn {
    font-size: 2rem;
    color: #d27d2d;
    cursor: pointer;
}
.cart-wrapper .total {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    padding-top: .5rem;
    border-top: .2rem solid rgba(0, 0, 0, 0.836);
}
.cart-wrapper .total .total-title {
    font-size: 1.5rem;
    color: var(--text-color);
    padding-right: .5rem;
}
.cart-wrapper .total .total-price {
    font-size: 1.4rem;
    color: var(--text-color);
}
.cart-wrapper .purchase-btn {
    padding: 1.5rem 3rem;
    background: #b5cbe3;
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    display: flex;
    margin: 1.5rem auto;
    cursor: pointer;
}
.cart-wrapper .purchase-btn:hover {
    background: #d27d2d;
}
.cart-wrapper #close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    color: var(--text-color);
}
.cart-wrapper #close-btn:hover {
    color: #d27d2d;
}
#menu-btn {
    display: none;
}
.home {
    padding: 0;
    position: relative;
}
.home .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 9rem;
}
.home .slide-container .slide .content {
    flex: 1 1 40rem;
    padding: 0 7%;
    animation: slide-content .3s linear 1s backwards;
}
@keyframes slide-content {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
}
.home .slide-container .slide .content h3 {
    font-size: 2.5rem;
    color: var(--white);
}
.home .slide-container .slide .content span {
    font-weight: 800;
    font-size: 4.5rem;
    padding-top: .6rem;
    display: block;
    color: #d27d2d;
}
.home .slide-container .slide .content p {
    line-height: 1.5;
    font-size: 1.6rem;
    color: var(--white);
    padding: 1rem 0;
    font-weight: lighter;
    text-transform: none;
}
.home .slide-container .slide .content .home-btn {
    color: var(--white);
    border: .2rem solid var(--white);
}
.home .slide-container .slide .content .home-btn:hover {
    background: #d27d2d;
}
.home .slide-container .slide .image {
    flex: 1 1 50rem;
    padding-right: 8rem;
    z-index: 0;
}
.home .slide-container .slide .image img {
    width: 100%;
    animation: image-slide .5s linear;
}
@keyframes image-slide {
    0% {
        transform: translateX(8rem);
    }
}
.home .slide-container:nth-child(1) .slide {
    background: linear-gradient(35deg, #082645, #174d82);
}
.home .slide-container:nth-child(2) .slide {
    background: linear-gradient(35deg, #bcd8f5, #e6f2ff);
}
.home .slide-container:nth-child(2) .slide .content h3 {
    color: var(--text-color);
} 
.home .slide-container:nth-child(2) .slide .content p {
    color: var(--text-color);
}
.home .slide-container:nth-child(2) .slide .content .home-btn {
    color: var(--text-color);
    border: .2rem solid var(--text-color);
} 
.home .slide-container:nth-child(2) .slide .content .home-btn:hover {
    color: var(--white);
}
.home .slide-container {
    display: none;
}
.home .slide-container.active {
    display: block;
}
#prev-btn, #next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    color: #d27d2d;
    z-index: 8;
    font-size: 2rem;
    cursor: pointer;
    opacity: 0.6;
}  
#prev-btn {
    left: 3rem;
} 
#next-btn {
    right: 1rem;
} 
#prev-btn:hover, 
#next-btn:hover {
    opacity: 1;
}
.brand .brand-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 2rem;
}
.brand .brand-container .box {
    text-align: center;
    cursor: pointer;
}
.brand .brand-container .box:hover {
    filter: drop-shadow(0 .4rem 1.5rem #b5cbe3);
}
.brand .brand-container .box img {
    width: 6rem;
}
.features .title {
    display: flex;
    justify-content: space-between;
    background: var(--header);
    margin-bottom: 1rem;
    box-shadow: var(--box-shadow);
}
.features .title h3 {
    padding: 2rem .5rem;
    color: var(--text-color);
    font-size: 1.5rem;
}
.features .title a {
    padding: 2rem .5rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.5rem;
}
.features .title a:hover {
    color: #d27d2d;
}
.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.features .box-container .box {
    padding: 2rem;
    text-align: center;
    cursor: pointer;
}
.features .box-container .box:hover {
    box-shadow: var(--box-shadow);
}
.features .box-container .box img {
    height: 20rem;
}
.features .box-container .box p {
    font-size: 1.7rem;
    font-weight: 600;
    margin: 1rem 0;
    color: var(--text-color);
}
.features .box-container .box .price-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.features .box-container .box .price {
    color: var(--text-color);
    font-size: 1.5rem;
    padding-right: 1rem;
}
.features .box-container .box span {
    color: var(--text-color);
    font-weight: lighter;
    text-decoration: line-through;
    font-size: 1.5rem;
}
.features .box-container .box:hover .btn {
    background: #d27d2d;
    color: var(--white);
}
.product h3 {
    background: var(--header);
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 1.5rem; 
    padding: 2rem .5rem;
    box-shadow: var(--box-shadow);
}
.product .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.product .box-container .box {
    position: relative;
    flex: 1 1 50rem;
}
.product .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product .box-container .box .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3rem;
}
.product .box-container .box .content h4 {
    color: var(--white);
    font-size: 2rem;
}
.product .box-container .box .content p {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 1rem;
    text-transform: none;
}
.services h3 {
    background: var(--header);
    margin-bottom: 1rem;
    color: var(--text-color);
    font-size: 1.5rem; 
    padding: 2rem .5rem;
    box-shadow: var(--box-shadow);
}
.services .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;  
}
.services .box-container .box {
    text-align: center;
    box-shadow: var(--box-shadow);
    flex: 1 1 20rem;
    padding: 2rem;
}
.services .box-container .box img {
    height: 5rem;
}
.services .box-container .box h4 {
    color: var(--text-color);
    font-size: 2rem;
    padding-top: 1rem;
}
.services .box-container .box p {
    color: var(--text-color);
    font-size: 1.5rem;
    padding-top: .5rem;
}
.footer {
    background: rgb(88, 87, 87);
}
.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.footer .box-container .box {
    flex: 1 1 20rem;
}
.footer .box-container .box .content {
    font-size: 3rem;
    font-weight: 800;
    color: var(--white);
}
.footer .box-container .box p {
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--white);
}
.footer .box-container .box h3 {
    font-size: 2rem;
    color: var(--white);
}
.footer .box-container .box a {
    font-size: 1.5rem;
    color: var(--white);
    display: block;
    margin: 1rem 0;
    padding: .5rem 0;
    cursor: pointer;
}
.footer .box-container .box .main {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.footer .content-1 {
    display: flex;
    gap: 1rem;
    padding: 1.2rem 0;
    border-top: .1rem solid #ccc;
    border-bottom: .1rem solid #ccc;
    align-items: center;
}
.footer .content-1 .socials {
    flex: 1 1 10rem;
}
.footer .content-1 .socials i {
    font-size: 2rem;
    padding: 0 1.5rem;
    color: var(--white);
    cursor: pointer;
}
.footer .content-1 .payment {
    flex: 1 1 10rem;
}
.footer .content-1 .payment img {
    margin: 0 1.5rem;
}
.footer .credits {
    text-transform: none;
    font-size: 1.4rem;
    padding: 1.5rem 0;
    text-align: center;
    color: var(--white);
}
.footer .credits span {
    color: #d27d2d;
}



@media (max-width:991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 2rem;
    }
    .header .search-form {
        width: 90%;
    }
    .home .slide-container .slide .image {
        padding-left: 4rem;
    }
    .home .slide-container .slide .content {
        margin-top: 7rem;
    }
}
@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }
    #menu-btn.fa-times {
        transform: rotate(180deg);
    }
    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30rem;
        height: calc(100vh - 9.5rem);
        background: var(--white); 
    }
    .header .navbar.active {
        right: 0;
    }
    .header .navbar a {
        display: block;
        padding: 2rem;
        border-bottom: .1rem solid #f2f2f2;
        font-weight: 500;
        letter-spacing: .2rem;
    } 
}
@media (max-width:480px) {
    html {
        font-size: 50%;
    }
}
    
